<md-content class="md-padding">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Search</span>
				<span class="md-subhead">Find synset by typing in the search box</span>
			</md-card-title-text>
		</md-card-title>
		<md-content class="md-padding">
			<md-input-container>
				<label>Word</label>
				<input ng-model="search.word_search" ng-change="search.updateWordList()" ng-model-options="{debounce: 250}"/>
			</md-input-container>
		</md-content>
		<md-content>
			<md-list flex>
				<md-list-item ng-repeat="word in search.words"  ng-click="search.findWord(word)">
					{{word.Synset}}
					<!--<div class="test" ng-repeat="(key, value) in word">{{key}} - {{value}}</div>-->
				</md-list-item>
			</md-list>
		</md-content>
	</md-card>
</md-content>
